.vscode/launch.json
.vscode/settings.json
__pycache__/dataset.cpython-37.pyc
__pycache__/defaults.cpython-37.pyc
__pycache__/model.cpython-37.pyc
__pycache__/train.cpython-37.pyc
tf_log/**
defaults.py
misc/epoch044_0.02343_3.9984.pth
valid_features.pkl
valid_labels.pkl
__pycache__/feature_comp.cpython-37.pyc
__pycache__/label_smoothing.cpython-37.pyc
train_features.pkl
train_labels.pkl
checkpoint/**
