.vscode/launch.json
.vscode/settings.json
__pycache__/dataset.cpython-37.pyc
__pycache__/defaults.cpython-37.pyc
__pycache__/model.cpython-37.pyc
__pycache__/train.cpython-37.pyc
tf_log/_train/events.out.tfevents.1614091598.MacBook-Pro-de-Amaury.local.80947.0
tf_log/_train/events.out.tfevents.1614091695.MacBook-Pro-de-Amaury.local.81025.0
tf_log/_train/events.out.tfevents.1614092002.MacBook-Pro-de-Amaury.local.81314.0
tf_log/_train/events.out.tfevents.1614092322.MacBook-Pro-de-Amaury.local.81593.0
tf_log/_train/events.out.tfevents.1614092828.MacBook-Pro-de-Amaury.local.81952.0
tf_log/_train/events.out.tfevents.1614092891.MacBook-Pro-de-Amaury.local.82030.0
tf_log/_train/events.out.tfevents.1614092995.MacBook-Pro-de-Amaury.local.82124.0
tf_log/_train/events.out.tfevents.1614093234.MacBook-Pro-de-Amaury.local.82405.0
tf_log/_train/events.out.tfevents.1614093683.MacBook-Pro-de-Amaury.local.82706.0
tf_log/_val/events.out.tfevents.1614091598.MacBook-Pro-de-Amaury.local.80947.1
tf_log/_val/events.out.tfevents.1614091695.MacBook-Pro-de-Amaury.local.81025.1
tf_log/_val/events.out.tfevents.1614092002.MacBook-Pro-de-Amaury.local.81314.1
tf_log/_val/events.out.tfevents.1614092322.MacBook-Pro-de-Amaury.local.81593.1
tf_log/_val/events.out.tfevents.1614092828.MacBook-Pro-de-Amaury.local.81952.1
tf_log/_val/events.out.tfevents.1614092891.MacBook-Pro-de-Amaury.local.82030.1
tf_log/_val/events.out.tfevents.1614092995.MacBook-Pro-de-Amaury.local.82124.1
tf_log/_val/events.out.tfevents.1614093234.MacBook-Pro-de-Amaury.local.82405.1
tf_log/_val/events.out.tfevents.1614093683.MacBook-Pro-de-Amaury.local.82706.1
defaults.py
